body {
    padding: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin:0;
    background-color: none;
}


/* CSS FILE LINK ISSUE */
.overlay {
    background-image:linear-gradient(rgba(0, 0, 0, 0.109), rgba(0, 0, 0, 0.5)), url("../img2/maincrop.jpg");

    background-size: cover;
    height:730px;
    background-repeat: no-repeat;
}

#navigation{
    /* background-color: rgba(0, 0, 0, 0.527); */
    margin:0;
    /* this moved navbar to the right */
    padding: 15px 18px 15px 1130px;
}


#nav-opt {
    display: inline-block;
    padding: 5px 15px;
    text-align:center;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}
li a {
    text-decoration: none;
    color: white;
}
li a:hover {
    color:grey;
}
.title {
    font-size: 50px;
    color:white;
    margin-left:40px;
    margin-top: 200px;
    font-family: 'Cutive Mono', monospace;
}

/* FOOTER */
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.376);
  color: white;
  text-align: center;
  padding-left: 20px;
}


  ion-icon{
    font-size: 30px;
    margin-left: 25px;
    margin-right: 25px; 
  }
  
  a{
color: white;
  }
ion-icon:hover {
    color:grey;
}


